.item-1{

   width: 200px;
   height: 100px;
   background-color: brown;
   color: red;

}
.item-2{

    width: 200px;
    height: 100px;
    background-color: brown;
    color: red;
 
 }
 .item-3{

    width: 200px;
    height: 100px;
    background-color: brown;
    color: red;
 
 }
 .item-4{

    width: 200px;
    height: 100px;
    background-color: brown;
    color: red;
 
 }
 .item-5{

    width: 200px;
    height: 100px;
    background-color: brown;
    color: red;
 
 }
 .item-6{

    width: 200px;
    height: 100px;
    background-color: brown;
    color: red;
 
 }
 .item-6{

    width: 200px;
    height: 100px;
    background-color: brown;
    color: red;
 
 }